h1 {
  margin: 0;
  margin-bottom: 20px;
}

.formContainer {
  text-align: center;
  background-color: #003049;
  border-radius: 20px;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.select {
  font-size: medium;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: #eae2b7;
  color: #003049;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #eae2b7 inset !important;
  -webkit-text-fill-color: #003049 !important;
}

.label input {
  text-align: center;
  background-color: #eae2b7;

  height: 30px;
  font-size: medium;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 15px;
  color: #003049;
}

.form {
  font-size: large;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
