.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #003049;
  border-radius: 20px;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  margin: 10px auto;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
}

.form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input,
.select {
  width: 100%;
  height: 30px;
  font-size: medium;
  text-align: center;
  border-radius: 15px;
  background-color: #eae2b7;
  color: #003049;
  box-sizing: border-box;
}

/* Fix autofill styles for Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #eae2b7 inset !important;
  -webkit-text-fill-color: #003049 !important;
}
