.loadingSpinner {
  --spinner-size: 50px;
  width: var(--spinner-size);
  height: var(--spinner-size);
  border: calc(var(--spinner-size) / 5) solid white;
  border-radius: 50%;
  border-top-color: black;
  animation: spin 0.75s linear infinite;
  box-sizing: border-box;
}

.loadingSpinnerSmall {
  --spinner-size: 50px;
}

.loadingSpinnerMedium {
  --spinner-size: 100px;
}

.loadingSpinnerLarge {
  --spinner-size: 150px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
