.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.questionContainer {
  background-color: #003049;

  margin: 10px auto;
  padding: 1rem;
  width: 90%;
  border-radius: 20px;
}

p {
  margin: 0 0 1rem 0;
}

.answers {
  display: grid;
  color: #003049;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
}

.answer {
  display: flex;
  gap: 10px;
  background-color: #eae2b7;
  margin-bottom: 10px;
  border-radius: 15px;
}

.selectedAnswer {
  background: #82cc6f;
  color: #fff;
  border-radius: 15px;
  transition: background 0.2s;
}

.answer label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
}

.form {
  width: 100%;
}

.button {
  margin-top: 10px;
}
