.questionContainer {
  background-color: #003049;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px auto;
  padding: 1rem;
  min-width: 90vw;
  height: 200px;
  border-radius: 20px;
}

.progress {
  background-color: #003049;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
}

p {
  margin: 0 0 1rem 0;
  text-align: center;
}

.answers {
  display: grid;
  color: #003049;
  width: 100%;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
}

.answer {
  display: flex;
  /* gap: 10px; */
  background-color: #eae2b7;
  margin-bottom: 10px;
  border-radius: 15px;
}

.selectedAnswer {
  background: #82cc6f;
  color: #fff;
  border-radius: 15px;
  transition: background 0.2s;
}

.answer label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.form {
  width: 100%;
}

.button {
  margin-top: 10px;
}
