.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resultsContainer {
  text-align: center;
}

.questionContainer {
  background-color: #003049;
  margin: 10px auto;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
}

p {
  margin: 0 0 1rem 0;
}

.isCorrect {
  background-color: #82cc6f;
  color: #003049;
  padding: 5px;
  border-radius: 10px;
  transition: background 0.2s;
}

.isIncorrect {
  background-color: #fc3737;
  color: #003049;
  padding: 5px;
  border-radius: 10px;
  transition: background 0.2s;
}

.correctAnswer {
  background-color: #eae2b7;
  color: #003049;
  padding: 5px;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.button {
  margin-top: 10px;
  border-radius: 15px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eae2b7;
  color: #003049;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: #82cc6f;
}
