.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resultsContainer {
  text-align: center;
}

.questionContainer {
  background-color: #003049;
  margin: 10px auto;
  padding: 1rem;
  width: 90%;
  border-radius: 20px;
}

p {
  margin: 0 0 1rem 0;
}

.userAnswer span {
  background-color: #eae2b7;
  color: #003049;
  padding: 1%;
  border-radius: 10px;
}

.answer {
  display: flex;
  gap: 10px;
  background-color: #eae2b7;
  color: #003049;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-evenly;
  gap: 0.5rem;
}

@media (max-width: 500px) {
  .answers {
    grid-template-columns: 100%;
  }
}

.isCorrect {
  background: #82cc6f;
  color: #003049;
  border-radius: 15px;
  transition: background 0.2s;
}

.isIncorrect {
  background: #fc3737;
  color: #003049;
  border-radius: 15px;
  transition: background 0.2s;
}

.form {
  width: 100%;
}

.button {
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}
