#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

select {
  font-size: medium;
}

#name input {
  font-size: medium;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

form {
  font-size: large;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
